body, html {
  height: 100%;
}

body {
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  background: #f5f8f9;
  color: #24292e;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 15px;
}

.row {
  margin: 15px 0;
}

ul, ol, li {
  list-style: none;
}

a, a:active, a:focus, a:visited {
  text-decoration: none;
  color: #333333;
}
