$color-main: #2e1b0a;
$color-red: #cc0003;

body, html {
  height: 100%;
}

body {
  font: 14px "open sans", "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
  background-color: #f2f2f1;
  color: #24292e;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.ui-font-kaiti {
  font-family: "Kaiti SC", "Kaiti TC", STKaiti, kaiti;
}

.row {
  margin: 15px 0;
}

h4 .subtitle {
  color: #999999;
  font-size: 12px;
}

.ui-btn-main {
  background: $color-main !important;
  border: none;
  border-radius: 3px;
  color: white;

  &:active {
    color: white;
    background: $color-main !important;
  }
}

.ui-btn-orange {
  background: $color-red !important;
  border: none;
  border-radius: 3px;
  color: white;

  &:active {
    color: white;
    background: $color-main !important;
  }
}

.widget {
  padding: 20px;
  background: white;
}
