.ui-page-address-list {
  .btn-wrapper {
    padding: 20px;

    .ui-btn-primary {
      background: $color-main;
    }
  }

  .ui-panel-body {
    display: flex;
    justify-content: space-between;
  }

  .ui-panel-heading {
    .name-phone {
      display: flex;
      justify-content: space-between;
    }
  }
}
