.my-ask-list {
  .ui-panel {
    $head-size: 30px;

    .ui-panel-heading {
      display: flex;

      .title {

        display: flex;
        line-height: $head-size;

        .head-info {
          width: $head-size;
          height: $head-size;
          border-radius: $head-size;
          margin-right: 10px;
          overflow: hidden;
          font-size: 16px;

          img {
            width: $head-size;
            height: $head-size;
          }
        }
      }
      .status {
        line-height: $head-size;
        text-align: right;
        color: #cc0000;
      }
    }

    .price-wrapper {
      display: flex;
      justify-content: space-between;

      .price-show {
        color: #cc0000;
      }

      .ui-btn-s {
        color: white;
        width: auto;
        padding-left: 5px;
        padding-right: 5px;
        border: none;

        &:after, &:before {
          border: none;
        }
      }

      .ui-btn-go-appointment {
        background: #2e1b0a;
      }
    }
  }
}

.ui-appointment-list {
  .doctor-info {
    display: flex;
    margin-bottom: 15px;

    $head-size: 50px;
    .head {
      width: $head-size;
      height: $head-size;
      border-radius: $head-size;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      padding-left: 20px;
      flex: 1;

      .name {
        font-size: 18px;
      }
    }
  }

  .patient-info {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    font-size: 16px;
  }

  .extend {
    display: flex;
    justify-content: space-between;
    line-height: 30px;

    .price {
      font-size: 16px;
      letter-spacing: 0.1em;
    }
  }
}

.ui-appointment-feedback-form {
  .mark-star-container {
    display: flex;
    i {
      font-size: 50px;
    }

    .ui-icon-star.light {
      color: gold;
    }
  }
}

.ui-appointment-feedback-list {
  font-size: 14px;

  .doctor-info {
    $head-size: 50px;
    display: flex;
    .head-info {
      width: $head-size;
      height: $head-size;
      border-radius: $head-size;
      overflow: hidden;
      margin-right: 20px;

      img {
        width: $head-size;
        height: $head-size;
        border-radius: $head-size;
      }
    }
    .name-info {
      .name {
        font-size: 16px;
      }
    }
  }

  .patient-info {
    display: flex;
    justify-content: space-between;
  }

  .feedback-mark {
    display: flex;
    margin-left: -10px;

    .ui-icon-star {
      font-size: 42px;
      line-height: 30px;
      width: 20px;
    }

    .light {
      color: gold;
    }
  }

}