$bg-img: "/images/bg-doctor.jpg";
$border-color: #EFEFEF;
.ui-doctor-profile {
  background: url($bg-img) center center no-repeat;
  padding-bottom: 1px;
  @extend .mb-20;
  @extend .ui-border-b;

  .ui-header {
    position: relative;
  }

  color: white;
  i, a {
    color: white;
  }
}

#sidebar{
  z-index: $z-index-head + 1;
}
.sidebar-wrapper {
  position: relative;
  height: 100%;
  overflow: auto;
  background: #EFEFEF;
  padding: 20px;
}

.ui-doctor-appointment-tab {
  .ui-tiled li {
    padding: 10px 0;

    &.active {
      border-bottom: 1px solid red;
    }
  }

  .ui-doctor-appointment-list {
    height: 60px;
    overflow: hidden;

    li {
      display: flex;
      justify-content: space-between;
      line-height: 30px;
      padding: 10px 0;
    }
  }

  .ui-btn-show-all {
    padding: 10px;
    margin: 20px 20%;
    border-radius: 50px;
    text-align: center;
    font-size: 18px;
    border: 1px solid red;
  }
}

.ui-doctor-description {
  padding-top: 10px;
  text-align: center;

  $head-size: 80px;
  .doctor-head-img {
    margin: 0 auto 10px;
    border: 1px solid $border-color;
    border-radius: $head-size;
    overflow: hidden;

    &, img {
      width: $head-size;
      height: $head-size;
    }
  }

  .doctor-name {
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
  }
}

.ui-doctor-information {
  margin: 20px 0;
  font-size: 14px;
}

.ui-doctor-label {
  .ui-label-s {
    font-size: 14px;
    padding: 5px 10px;
    background: #f8f3f3;
    color: #333333;
    border: none;
    margin-bottom: 5px;

    &:before {
      border: none;
    }
  }
}

.ui-patient-feedback {
  .ui-patient-info {
    margin-bottom: 0.5em;

    .ui-avatar-s {
      margin-right: 1em;
      img {
        width: 40px;
        height: 40px;
      }
    }

    .ui-patient-name {
      line-height: 40px;
      margin-right: 1em;
    }

    .ui-patient-status {
      background: #e27b01;
      color: white;
      font-size: 12px;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }

  .ui-patient-evaluate {
    margin-bottom: 1em;
    padding-left: 0.5em;
    i {
      color: #e27b01;
      font-size: 40px;
      line-height: 20px;
      width: 20px;
      height: 20px;
      text-indent: -0.5em;
    }
  }

  .ui-patient-btn-view-all {
    padding: 2em;
    a {
      &:before {
        border-radius: 44px;
        border-color: red;
      }
      border-radius: 44px;
      border-color: red;
      color: red;
    }
  }
}

.ui-doctor-footer {
  color: white;
  li.tab-item {
    padding: 0;
  }

  .tab-item a {
    height: 56px;
    line-height: 56px;
    font-size: 18px;
    color: white;
    display: block;
  }

  .appointment {
    background: black;
  }
  .ask {
    background: darkorange;
  }
}

.ui-doctor-recommend {
  .head {
    width: 120px;
    height: 120px;

    img {
      width: 100%;
    }
  }
}

.ui-doctor-service-time-wrapper {
  position: relative;
  padding: 15px;

  .ui-form-item-title {
    width: 95px;
    font-size: 16px;
    position: absolute;
    left: 15px;
    top: 15px;
  }

  .ui-doctor-service-time {
    margin-left: 95px;

    .ui-label-s {
      &:before, & {
        border-color: #efefef;
        color: #333333;
        padding: 10px;
        margin: 0 5px 5px 0;
      }
    }
  }
}
