/*.ui-9-grids-wrapper {
  background: white;
  overflow: hidden;

  .ui-9-grids {
    margin-left: -1px;
    margin-right: -1px;

    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    @extend .ui-border-b;

    .ui-item {
      @include clearfix;
      @extend .ui-border-tr;
      padding: 20px 10px;
      color: #333333;

      text-align: center;
      width: 33.2%;
      box-sizing: border-box;

      .ui-grid-icon {
        width: 100%;
        text-align: center;

        $icon-size: 45px;
        img {
          height: $icon-size;
          width: $icon-size;
        }
      }
    }
  }
}
*/

.ui-9-grids-wrapper {
  background: white;

  .ui-9-grids {
    position: relative;
    overflow: hidden;

    &:before {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      height: 1px;
      border-top: 1px solid #D9D9D9;
      color: #D9D9D9;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleY(0.5);
      transform: scaleY(0.5);
    }

    &:after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      bottom: 0;
      border-left: 1px solid #D9D9D9;
      color: #D9D9D9;
      -webkit-transform-origin: 0 0;
      transform-origin: 0 0;
      -webkit-transform: scaleX(0.5);
      transform: scaleX(0.5);
    }

    .ui-item {
      position: relative;
      float: left;
      padding: 20px 10px;
      width: 33.33333333%;
      box-sizing: border-box;
      text-align: center;
      color: #333333;

      &:before {
        content: " ";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        bottom: 0;
        border-right: 1px solid #D9D9D9;
        color: #D9D9D9;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.5);
        transform: scaleX(0.5);
      }

      &:after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 1px;
        border-bottom: 1px solid #D9D9D9;
        color: #D9D9D9;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(0.5);
        transform: scaleY(0.5);
      }

      &:active {
        background-color: #ECECEC;
      }

      .ui-grid-icon {
        width: 100%;
        text-align: center;

        $icon-size: 45px;
        img {
          height: $icon-size;
          width: $icon-size;
        }
      }

      .ui-grid-label {
        color: #333333;
      }
    }
  }
}

/*
.ui-9-grids {
  background: white;
  @include clearfix;
  @extend .ui-border-b;

  .ui-3-grid {
    display: flex;
    @extend .ui-border-t;

    .ui-col {
      @extend .ui-border-r;
      display: block;
      flex: 1;
      padding: 10px;
      text-align: center;

      .ui-grid-icon {
        padding: 10% 20%;

        img {
          width: 100%;
        }
      }

      &:last-child {
        border-right: none;
      }

      .ui-grid-label {
        font-size: 16px;
        color: #333333;
      }
    }
  }
}
*/
