.ui-9-grids-wrapper {
  background: white;
  overflow: hidden;

  .ui-9-grids {
    margin-left: -1px;
    margin-right: -1px;

    @include clearfix;
    display: flex;
    flex-wrap: wrap;
    @extend .ui-border-b;

    .ui-item {
      @include clearfix;
      @extend .ui-border-tr;
      padding: 20px 10px;
      color: #333333;

      text-align: center;
      width: 33.33333333333%;
      box-sizing: border-box;

      .ui-grid-icon {
        width: 100%;
        text-align: center;

        $icon-size: 45px;
        img {
          height: $icon-size;
          width: $icon-size;
        }
      }
    }
  }
}

/*
.ui-9-grids {
  background: white;
  @include clearfix;
  @extend .ui-border-b;

  .ui-3-grid {
    display: flex;
    @extend .ui-border-t;

    .ui-col {
      @extend .ui-border-r;
      display: block;
      flex: 1;
      padding: 10px;
      text-align: center;

      .ui-grid-icon {
        padding: 10% 20%;

        img {
          width: 100%;
        }
      }

      &:last-child {
        border-right: none;
      }

      .ui-grid-label {
        font-size: 16px;
        color: #333333;
      }
    }
  }
}
*/
