.ui-footer {
  .tab-item {
    line-height: 1;
    padding: 5px 0;
    font-size: 12px;

    .label {
      margin-top: 2px;
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
}

.ui-btn-group-wrapper {
  .ui-btn-s + .ui-btn-s {
    margin-top: 5px;
  }

  .ui-btn-s {
    padding: 0 5px;
    width: 65px;
  }

  margin-left: 10px;
  width: 65px;
}

.ui-no-margin {
  margin: 0;
}

.doctor-list {
  .ui-avatar {
    img {
      width: 50px;
      height: 50px;
    }
  }

  .ui-label-s, .ui-label-head {
    font-size: 14px;
  }
  .ui-label-s {
    padding: 2px;
  }
}

.ui-block {
  display: block;
}

.ui-row-container {
  padding: 0 15px;
}

.ui-block-textarea-wrapper {
  $padding-size: 10px;

  border: 1px solid #EFEFEF;
  position: relative;
  padding: $padding-size;

  .ui-block-textarea {
    resize: none;
    width: 100%;
    border: none;
    min-height: 100px;
  }
}

.extend.ui-arrowlink {
  padding-right: 20px;
  &:before {
    right: 0;
  }
}
