.ui-notice.ui-pay-order > i:before {
  content: "";
  color: #65d521
}

.ui-pay-order-footer {
  display: flex;
  text-align: center;
  line-height: 56px;
  font-size: 20px;

  .price {
    width: 30%;
    .price-show {
      color: gold;
    }
  }

  .pay-btn {
    flex: 1;
    background: #e37b00;
    color: white;
  }
}

.ui-pay-order {
  .ui-form-item-show label {
    color: inherit !important;
  }

  .ui-list-link {
    li:after {
      content: "\f602";
    }

    li.select:after {
      color: #e37b00;
    }

    .ui-list .ui-avatar {
      margin: 15px 10px 10px 0px;
      width: 40px;
      height: 40px;
    }
  }
}
