.ui-order-list {
  .order-heading {
    display: flex;
    justify-content: space-between;
  }

  .action-btn-cancel {
    background: #c5c5c5;
    border: none;

    &:before {
      border: none;
    }
  }
}