$pad-size: 10px;
.ui-panel {
  background: white;

  .ui-panel-heading {
    padding: $pad-size;
    display: flex;
    justify-content: space-between;
  }

  .ui-panel-body {
    padding: $pad-size;

    .ui-label-list {
      margin: 0;
    }
  }

  .list-group {
    margin-top: $pad-size;
    margin-bottom: $pad-size;
    display: flex;
    overflow: auto;

    li {
      width: 120px;
      border: 1px solid $border-color;
      padding: $pad-size;
      margin-right: $pad-size;
    }
  }
}


