$pad-size: 20px;
.ui-panel {
  background: white;

  .ui-panel-heading {
    padding: $pad-size;
  }

  .ui-panel-body {
    padding: $pad-size;

    .ui-label-list {
      margin: 0;
    }

    .image-list {
      display: flex;

      li {
        width: 80px;
        height: 80px;
        line-height: 80px;
        border: 1px solid #efefef;
        padding: 10px;
        margin-right: 5px;

        img {
          width: 100%;
        }
      }
    }
  }

  .list-group {
    margin-top: $pad-size;
    margin-bottom: $pad-size;
    display: flex;
    overflow: auto;

    li {
      width: 120px;
      border: 1px solid $border-color;
      padding: $pad-size;
      margin-right: $pad-size;
    }
  }
}


