.patient {
  .alert {
    border: 1px solid #EFEFEF;
    margin: 15px;
    padding: 15px;
    background: white;
    border-radius: 5px;
  }

  &.list .list-group {
    margin: 15px;

    li {
      background: white;
      padding: 10px;
      border-bottom: 1px solid #EFEFEF;

      a {
        display: block;
      }
    }
  }

  &.form {

  }
}