$background-img: "/images/bg-login.jpg";
.ui-register-login {
  width: 100%;
  height: 100%;
  position: relative;
  background: url($background-img);
  -webkit-background-size: cover;
  background-size: cover;

  //$blur-size: 15px;
  //.ui-backdrop-filter {
  //  z-index: 2;
  //  width: 100%;
  //  height: 100%;
  //  -webkit-backdrop-filter: blur($blur-size);
  //}

  .form {
    position: absolute;
    top: 350px;
    left: 10%;
    right: 10%;
    color: white;
    flex-direction: column;

    h1 {
      display: none;
      text-align: center;
      font-size: 32px;
      margin-bottom: 20px;
    }

    .form-submit {
      .input {
        .ui-btn-submit {
          background-color: $color-main;
          border-color: $color-main;
          background-image: none;
          color: white;

          &:active {
            background-color: darken($color-main, 20%);
            border-color: darken($color-main, 20%);
          }
        }
      }
    }

    .form-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;

      label {
        display: block;
        padding: 5px 0;
      }

      .input {
        padding: 10px;
        background: transparent;
        border-radius: 3px;
        overflow: hidden;
        flex: 1;
        border-bottom: 1px solid $color-main;
        display: flex;

        i.icon img {
          margin-top: 10px;
          width: 20px;
          height: 20px;
        }

        input {
          flex: 1;
          border: none;
          padding: 10px 20px;
          background: transparent;
          color: white;
        }

      }

      .ui-flex-input {
        display: flex;

        input {
          flex: 1;
        }

        .get-code {
          width: 150px;
          color: white;
          text-align: center;
        }
      }
    }
  }
}
