.clearfix {
  @include clearfix;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.ui-txt-size-12 {
  font-size: 12px;
}

.ui-txt-size-14 {
  font-size: 14px;
}

.ui-txt-size-16 {
  font-size: 16px;
}

.ui-txt-size-18 {
  font-size: 18px;
}
