.clearfix {
  @include clearfix;
}

// margin
@for $i from 1 to 10 {
  .m-#{$i*5} {
    margin: #{$i*5}px;
  }
}

// margin top-bottom
@for $i from 1 to 10 {
  .mtb-#{$i*5} {
    margin-top: #{$i*5}px;
    margin-bottom: #{$i*5}px;
  }
}

// margin top
@for $i from 1 to 10 {
  .mt-#{$i*5} {
    margin-top: #{$i*5}px;
  }
}

// margin bottom
@for $i from 1 to 10 {
  .mb-#{$i*5} {
    margin-bottom: #{$i*5}px;
  }
}

// margin left
@for $i from 1 to 10 {
  .ml-#{$i*5} {
    margin-left: #{$i*5}px;
  }
}

// margin right
@for $i from 1 to 10 {
  .mr-#{$i*5} {
    margin-right: #{$i*5}px;
  }
}

//padding
@for $i from 1 to 10 {
  .p-#{$i*5} {
    padding: #{$i*5}px;
  }
}

//padding top
@for $i from 1 to 10 {
  .pt-#{$i*5} {
    padding-top: #{$i*5}px;
  }
}

//padding left
@for $i from 1 to 10 {
  .pl-#{$i*5} {
    padding-left: #{$i*5}px;
  }
}

//padding right
@for $i from 1 to 10 {
  .pr-#{$i*5} {
    padding-right: #{$i*5}px;
  }
}

//padding bottom
@for $i from 1 to 10 {
  .pb-#{$i*5} {
    padding-bottom: #{$i*5}px;
  }
}

.p-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.p-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.ui-txt-size-12 {
  font-size: 12px;
}

.ui-txt-size-14 {
  font-size: 14px;
}

.ui-txt-size-16 {
  font-size: 16px;
}

.ui-txt-size-18 {
  font-size: 18px;
}

.ui-full-width {
  width: 100%;
}

.ui-align-right {
  text-align: right !important;
}

.ui-align-left {
  text-align: left !important;
}

.ui-align-center {
  text-align: center !important;
}

.ui-txt-white {
  color: white;
}

.ui-hide {
  display: none !important;
}

.ui-show {
  display: block !important;
}
